sudo: false
language: java
jdk: oraclejdk7
cache:
  directories:
  - $HOME/.m2
env: DISPLAY=:99.0
before_install:
- sh -e /etc/init.d/xvfb start - sleep 10
script:
- cd releng/org.yakindu.sct.releng
- mvn clean verify
- cd ../org.yakindu.sct.repository/target/repository
- zip -r updatesite.zip *.*
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: XZO8d1SmfRe5XdBghUv+cyxhoPRNjCNFo5rc/BSadFAOaGsn3HCF9oG7FSI4SlUPBX6D45Zk0iR/vYHKSOWsnZ+dqJL1/CpG5emasCuAKruIUdL5gmZ+FzfQ+kXw5dRnCLPYPclCaJ+TpJSgbDzQFibTnOgbPMFyQUSCaaumYn8=
	
  file: ../org.yakindu.sct.repository/target/repository/updatesite.zip
  on:
    tags: Yakindu/statecharts
    condition: "$TRAVIS_TAG =~ ^release.*$"
